@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
div {
  background-image: url(/images/rainbow.jpg);
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  margin-top: 1px;
  margin-bottom: 1px;
}
h2 button {
  margin-left: 3px;
  margin-right: 3px;
}
h3 {
  margin-bottom: 3px;
}

section.difficulty-0 {
  list-style: none;
  margin: 1;
  padding: 0;
  display: grid;
  border: solid 3px rgb(124, 124, 124);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: calc(8 * 2rem);
  height: calc(8 * 2rem);
}
section.difficulty-1 {
  margin: 1;
  padding: 0;
  display: grid;
  border: solid 3px rgb(124, 124, 124);
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: calc(16 * 2rem);
  height: calc(16 * 2rem);
}
section.difficulty-2 {
  margin: 1;
  padding: 0;
  display: grid;
  border: solid 3px rgb(124, 124, 124);
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: calc(24 * 2rem);
  height: calc(24 * 2rem);
}

section button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 204, 204);
  border: outset 4px rgb(183, 182, 182);
}

section button.cell-bomb {
  background-color: rgb(205, 204, 204);
  color: black;
  font-size: 1rem;
}

section button.cell-flag {
  background-color: rgb(205, 204, 204);
  // color: red;
  font-size: 1rem;

  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 10s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 10s infinite;
  /* Standar Syntax */
  animation: rainbow 10s infinite;

  /* Chrome, Safari, Opera */

  @-webkit-keyframes rainbow {
    0% {
      color: orange;
      // transform: rotate(360deg);
    }
    10% {
      color: purple;
    }
    20% {
      color: red;
    }
    30% {
      color: CadetBlue;
    }
    40% {
      color: yellow;
    }
    50% {
      color: coral;
    }
    60% {
      color: green;
    }
    70% {
      color: cyan;
    }
    80% {
      color: DeepPink;
    }
    90% {
      color: DodgerBlue;
    }
    100% {
      color: orange;
    }
  }

  /* Internet Explorer */

  @-ms-keyframes rainbow {
    0% {
      color: orange;
      // transform: rotate(360deg);
    }
    10% {
      color: purple;
    }
    20% {
      color: red;
    }
    30% {
      color: CadetBlue;
    }
    40% {
      color: yellow;
    }
    50% {
      color: coral;
    }
    60% {
      color: green;
    }
    70% {
      color: cyan;
    }
    80% {
      color: DeepPink;
    }
    90% {
      color: DodgerBlue;
    }
    100% {
      color: orange;
    }
  }

  /* Standar Syntax */

  @keyframes rainbow {
    0% {
      color: orange;
      // transform: perspective();
    }
    10% {
      color: purple;
    }
    20% {
      color: red;
    }
    30% {
      color: CadetBlue;
    }
    40% {
      color: yellow;
    }
    50% {
      color: coral;
    }
    60% {
      color: green;
    }
    70% {
      color: cyan;
    }
    80% {
      color: DeepPink;
    }
    90% {
      color: DodgerBlue;
    }
    100% {
      color: orange;
    }
  }
}
section button.cell-free {
  background-color: rgb(205, 204, 204);
  border: solid 1px rgb(124, 124, 124);
}

button.cell-number {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.2rem;
}
button.cell-1 {
  color: blue;
  background-color: rgb(205, 204, 204);
}
button.cell-2 {
  color: green;
  background-color: rgb(205, 204, 204);
}
button.cell-3 {
  color: red;
  background-color: rgb(205, 204, 204);
}
button.cell-4 {
  color: purple;
  background-color: rgb(205, 204, 204);
}
button.cell-5 {
  color: maroon;
  background-color: rgb(205, 204, 204);
}
button.cell-6 {
  color: turquoise;
  background-color: rgb(205, 204, 204);
}
button.cell-7 {
  color: black;
  background-color: rgb(205, 204, 204);
}
button.cell-8 {
  color: gray;
  background-color: rgb(205, 204, 204);
}
